<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778371911124-btpa0keaphk07v6a56jnubovv4vo6vcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778371911124-btpa0keaphk07v6a56jnubovv4vo6vcc</string>
	<key>API_KEY</key>
	<string>AIzaSyAysBc84i5B0BHCkSKUHtmdakwbw_n5N-M</string>
	<key>GCM_SENDER_ID</key>
	<string>778371911124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>knowu.knowu</string>
	<key>PROJECT_ID</key>
	<string>knowu-a1c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>knowu-a1c2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778371911124:ios:70f77517769f67c14a5a41</string>
	<key>DATABASE_URL</key>
	<string>https://knowu-a1c2b.firebaseio.com</string>
</dict>
</plist>